<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://dzmohaipa.com/Snapchat/DzMohaipaAr.plist</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.tihmstar.h3lix</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>

				
 				<string>
🔥سناب عثمان🔥
❤ ❤
🔥أخر أصدار : 10.31.5🔥
❤ ❤
🔥يجب حذف الاصليه🔥
❤ ❤
🔥رفع: أحمد المقدم🔥
تابعوني عبر تويتر👇
	@ahmadmokaddam
❤ ❤
مؤسسة :@DZmohaipa
				</string>
				
            </dict>
        </dict>
    </array>
</dict>
</plist>